<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <runtime>
    <enforceFIPSPolicy enabled="false"/>
  </runtime>
  <appSettings>
	<add key="SecurityKey" value="kZw7e0tL1XQ="/>
	<add key="DBServer" value="192.168.10.61"/>
	<add key="DBName" value="sxtest_41"/>
	<add key="DBVersion" value="v4.1"/>
	<add key="DBUsername" value="ta_admin"/>
	<add key="DBPassword" value="jWEJddXf6vhEp/3fJT7Lbg=="/>
	<add key="ScriptsDir" value="C:\Scripts\v4.1\AutomaticTesting\Scripts"/>
	<add key="DbBackupDir" value="C:\Scripts\v4.1\AutomaticTesting\Database"/>
	<add key="AutoBackup" value="false"/>
	<add key="BackupTime" value="18:00"/>
	<add key="LimitSize" value="100" />
	<add key="EnableProgramLog" value="false"/>
	<add key="OpenLogAtWrite" value="false"/>
	<add key="RanorexVersion" value="8.1.0" />
	<add key="LastUsedID" value="1000"/>
	<add key="LastLoginID" value="admin"/>
	<add key="StartMenu" value="write_script"/>
	<add key="MSBuild" value="C:\Windows\Microsoft.NET\Framework\v4.0.30319" />
	<add key="AutoItBuild" value="C:\Program Files (x86)\AutoIt3\Aut2Exe" />
	<add key="MySQL" value="C:\Program Files\MySQL\MySQL Server 5.6\bin" />
  </appSettings>
</configuration>