<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <runtime>
    <enforceFIPSPolicy enabled="false" />
	<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		<dependentAssembly>
		  <assemblyIdentity name="mscorlib" publicKeyToken="b77a5c561934e089" culture="neutral" />
		  <bindingRedirect oldVersion="2.0.0.0" newVersion="4.0.0.0" />
		</dependentAssembly>
		<dependentAssembly>
		  <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
		  <bindingRedirect oldVersion="2.0.0.0" newVersion="4.0.0.0" />
		</dependentAssembly>
		<dependentAssembly>
		  <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
		  <bindingRedirect oldVersion="2.0.0.0" newVersion="4.0.0.0" />
		</dependentAssembly>
		<dependentAssembly>
		  <assemblyIdentity name="System.Management" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
		  <bindingRedirect oldVersion="2.0.0.0" newVersion="4.0.0.0" />
		</dependentAssembly>
		<dependentAssembly>
		  <assemblyIdentity name="System.Windows.Forms" publicKeyToken="b77a5c561934e089" culture="neutral" />
		  <bindingRedirect oldVersion="2.0.0.0" newVersion="4.0.0.0" />
		</dependentAssembly>
		<dependentAssembly>
		  <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
		  <bindingRedirect oldVersion="2.0.0.0" newVersion="4.0.0.0" />
		</dependentAssembly>
	</assemblyBinding>
  </runtime>
  <appSettings>
	<add key="SecurityKey" value="kZw7e0tL1XQ=" />
	<add key="DBServer" value="192.168.10.61" />
	<add key="DBName" value="sxtest_52" />
	<add key="DBVersion" value="v5.2" />
	<add key="DBUsername" value="ta_admin" />
	<add key="DBPassword" value="jWEJddXf6vhEp/3fJT7Lbg==" />
	<add key="ScriptsDir" value="C:\Scripts\%DBName%\AutomaticTesting\Scripts" />
	<add key="ScriptSourceDir" value="C:\Scripts\%DBName%\AutomaticTesting\Source" />
	<add key="DbBackupDir" value="C:\Scripts\%DBName%\AutomaticTesting\Database" />
	<add key="AutoBackup" value="false" />
	<add key="BackupTime" value="18:00" />
	<add key="LimitSize" value="100" />
	<add key="RawLimitSize" value="499" />
	<add key="EnableErrorLog" value="false" />
	<add key="OpenLogAtWrite" value="false" />
	<add key="LastUsedID" value="1036" />
	<add key="LastLoginID" value="rommel.lamanilao" />
	<add key="StartMenu" value="write_script" />
	<add key="MSBuild" value="C:\Windows\Microsoft.NET\Framework\v4.0.30319" />
	<add key="AutoItBuild" value="C:\Program Files (x86)\AutoIt3\Aut2Exe" />
	<add key="MySQL" value="C:\Program Files\MySQL\MySQL Server 5.6\bin" />
  </appSettings>
</configuration>